@mixin media($media){
  /*
  ##Device = Desktops
  ##Screen = 1280px to higher resolution desktops
  */
  @if $media == "large-desktop"{
    @media screen and (min-width: #{$xl}) {
      @content;
    }
  }
  /*
    ##Device = Laptops, Desktops
    ##Screen = B/w 1024px to 1280px
  */
  @if $media == "desktop"{
    @media screen and (min-width: #{$lg}) and (max-width: #{$xl}) {
      @content;
    }
  }
  /*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
  */
  @if $media == "tablet"{
    @media screen and (min-width: #{$md}) and (max-width: #{$lg}) {
      @content;
    }
  }
  /*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 480px to 768px
  */
  @if $media == "low-tablet"{
    @media screen and (min-width: #{$sm}) and (max-width: #{$md}) {
      @content;
    }
  }
  /*
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w -- to 480px
  */
  @if $media == "mobile"{
    @media screen and (max-width: #{$sm}) {
      @content;
    }
  }
  /*
    ##Device = Exclude Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w -- to 480px
  */
  @if $media == "exclude-low-tablet"{
    @media screen and (min-width: #{$md}) {
      @content;
    }
  }
  /*
    ##Device = Landscape
  */
  @if $media == "landscape"{
    @media screen and (max-width: #{$md}) and (orientation: landscape) {
      @content;
    }
  }
  /*
    ##Device = Print
  */
  @if $media == "print"{
    @media print {
      @content;
    }
  }
}
/* @USAGE
    @include media('mobile'){
      // code
    };
*/

/*
* size elements
*/
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin deviceContainer() {
  min-width: 355px;
  height: 100%;
  max-width: 340px;
  max-height: $deviceHeight;
}

@mixin defaultBackground() {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: -moz-available;          /* WebKit-based browsers will ignore this. */
  height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
  height: fill-available;
  background: url("../../assets/jpg/background.jpeg") center center no-repeat;
  background-size: 100% 100%;
  padding: 9vh 0;

  @include media('exclude-low-tablet') {
    border-radius: $radius;
    height: calc(100% - 175px);
    padding: 75px 0 100px;
  }
}

@mixin gameOverBackground() {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: calc(100vh - 30vh);
  background: url("../../assets/jpg/gameOver.jpeg") center center no-repeat;
  background-size: 100% 100%;
  padding: 15vh 0;

  @include media('exclude-low-tablet') {
    border-radius: $radius;
    height: calc(100% - 175px);
    padding: 75px 0 100px;
  }
}

@mixin theButton() {
  display: block;
  margin: auto;
  font-size: 16px;
  font-weight: 700;
  color: $white;
  background: url("../../assets/svg/button-black.svg") center center no-repeat;
  line-height: 53px;
  height: 60px;
  width: 140px;
  background-size: 100% 100%;
  border: none;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s transform ease;

  &:focus,&:active {
    transform: scale(0.8);
  }
}
