@import "../../scss/helpers";

.FormUsername {
    margin-top: 15%;

    input:last-child {
        position: absolute;
        bottom: 13%;
        right: 10%;
        font-size: 18px;
        font-weight: 700;
        color: $white;
        background: url("../../assets/svg/button-black.svg") center center no-repeat;
        padding: 10px 20px 15px;
        height: 60px;
        width: 140px;
        background-size: 100% 100%;
        border: none;
        text-align: center;
        cursor: pointer;
    }
}
