@import "../../scss/helpers";

.InputText {
  background: url("../../assets/svg/input-text.svg") center center no-repeat;
  background-size: 100% 100%;
  border: none;
  outline: none;
  width: 55%;
  max-width: 245px;
  padding: 10px 25px;
  height: 45px;
  font-weight: 700;
  font-size: 20px;

  &::placeholder {
    color: $grey;
  }

  &[name="join"] {
    font-size: 16px;
    background: url("../../assets/svg/button-transparent.svg") center center no-repeat;
    padding: 0 20px 5px;
    height: 60px;
    width: 110px;
    background-size: 100% 100%;
    text-align: center;

    &::placeholder {
      color: $black;
    }
  }

  &:-webkit-autofill {
    &:hover,&:hover, &:active {
      -webkit-box-shadow:0 0 0 50px white inset;
      -webkit-text-fill-color: $black;
      transition: all 5000s ease-in-out 0s;
    }
  }
}

.InputTextError {
  color: $red;
  animation: buzz-out 0.75s linear 1;
  &:-webkit-autofill {
    &:hover,&:hover, &:active {
      -webkit-text-fill-color: $red;
    }
  }
}
