@import "../../scss/helpers";

.DisconnectedUsers {
  @include theModal;

  &Button {
    @include theButton;
  }

  > div {
    p {
      margin-top: 0;
      font-weight: bold;
      font-size: 18px;
    }

    h1 {
      font-size: 3.5rem;
    }
  }
}
