.page-enter {
  opacity: 1;

  z-index: 1;
  > * {
    opacity: 0;
  }
}

.page-enter-active {
  opacity: 1;

  > * {
    opacity: 1;
    transition: opacity 600ms;
  }
}

.page-exit {
  opacity: 1;

  > * {
    opacity: 1;
    transition: opacity 600ms;
  }
}

.page-exit-active {
  opacity: 1;

  > * {
    opacity: 0;
    transition: opacity 600ms;
  }
}
