@import "src/scss/helpers";

.TheDevLinks {
  position: fixed;
  left: 20px;
  bottom: 20px;
  z-index: 1;
  > a {
    color: white;
    cursor: pointer;
  }

  @include media('mobile') {
    display: none;
  }
}
