@import "src/scss/helpers";

.TheDevLinks {
  position: fixed;
  left: 0;
  right: 0;
  top: 1rem;
  margin: auto;
  z-index: 1;
  display: none;

  > a {
    color: white;
    cursor: pointer;
  }

  @include media('exclude-low-tablet') {
    display: block;
  }
}
