@import "../../scss/helpers";

.TheCanvas {
  position: relative;
  z-index: 1;
  
  canvas {
    height: 100vh!important;

    @include media('exclude-low-tablet') {
      height: $deviceHeight!important;
    }
  }
}
