.Card {
    height: 100px!important;
    width: 30px;
    border-radius: 10px;
    border: .5px solid gba(0,0,0,4);
    box-shadow: 0 8px 8px -6px rgba(0,0,0,0.25);
    box-sizing: initial;
    background-color: white; 
    }

.cardWrapper {
    margin: 30px 10px;
}

.points {
    margin-top: 10px;
    font-size: 20px;
}

.swiper {
    height: 300px;
}