.TheCards {
    position: absolute;
    height: 40%;
    width: 90%;
    top: 0;
    bottom: 0;
    display: block;
    margin: auto;
    border-radius: 10px;
    border: 1px solid grey;
    box-shadow: 0 8px 8px -6px rgba(0,0,0,0.25);
    background-color: white;
}
