.TheCards {
  position: absolute;
  width: 14rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 375px;
  transform: rotate(10deg);


  > img {
    height: 120%;

    + div {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 85%;
      transform: translate(-50%, -50%);
    }
  }

  > div {
    &:last-child {
      font-weight: 400;
      font-size: 1rem;
      position: absolute;
      text-align: left;
      width: 75%;
      left: 50%;
      bottom: 7%;
      transform: translateX(-50%);
    }
  }

  &IsAlternative {
    transform: rotate(-10deg);
  }

  &IsCheh {
    color: white;
  }
}
