@import "../../scss/helpers";

.CardsGame {
    height: 100%;
    padding: 10px;
    border-radius: $radius;
    

    &.ChehCard {
        background-image: url('../../assets/jpg/fond_outch.jpeg');
        background-size: 100% 100%;
    }

    &.WaouhCard {
        background-image: url('../../assets/jpg/fond_waouh.jpeg');
        background-size: 100% 100%;
    }

    &.devineQui {
        background-image: url('../../assets/jpg/fond_devinequi.jpeg');
        background-size: 100% 100%;
        display: flex;
        align-items: center;
    }
}

.Pioche {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    height: 190px;
    width: 80%;
    justify-content: space-between;
    left: 50%;
    transform: translate(-50%, 50%);

    .container {
        position: relative;
        width: calc(100% / 2 - 10px);
    }
}
