@import "../../scss/helpers";

.OhMyGod {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: calc(100vh - 30vh);
  background: url("../../assets/jpg/omg.jpeg") center center no-repeat;
  background-size: 100% 100%;
  padding: 15vh 0;

  h1 {
    font-size: 6rem;
  }

  @include media('exclude-low-tablet') {
    border-radius: $radius;
    height: calc(100% - 150px);
    padding: 75px  0;
  }

  > img:first-child {
    width: 70%;
  }

  > p {
    margin: 0 auto;
    font-size: 20px;
    font-weight: 700;
  }

  &Interaction {
    > button {
      border: none;
      background: none;

      > img {
        width: 60%;
      }

      > div {
        text-align: center;
        display: flex;
        flex-direction: column;
        margin-top: 1rem;

        > img {
          width: 75px;
          display: block;
          margin: auto;
        }

        > span {
          margin-top: 0.5rem;
          font-weight: 700;
          font-size: 16px;
        }
      }
    }
  }
}
