@import "../../scss/helpers";

.TheTutorial {
    @include defaultBackground;

    h1 {
        font-size: 5.5rem;
        position: relative;
        z-index: 1;
        top: -1rem;
    }

    > div {
        padding: 0 2rem;

        &:first-child {
            position: relative;
            height: 100%;
            padding: 0 2rem;
        }
    }

    > button {
        position: absolute;
        right: 5%;
        top: 5%;
        cursor: pointer;
        background: none;
        border: none;
    }
}
