.MessageTips {
    position: relative;
    margin-bottom: -25px;

    > p {
        position: absolute;
        top: 0;
        left: 0;
        text-align: left;
        margin-right: 1rem;
        margin-left: 1rem;
        font-weight: 300;
        margin-top: 0.75rem;

        &:nth-child(2) {
            top: 45px;
            font-size: 12px;
        }
    }
}
