.Game {
  padding: 20px 10px;
  height: 100%;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;

  &Center {
    // margin-top: 30%;
  }

  &Bottom {
    display: flex;
    position: absolute;
    bottom: 15px;
    width: 100%;
  }

  > p {
    margin-block-start: 4px;
  }
}

.Background {
  position:absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
}

.GameInner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width:100%;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 40Px;
}
