@import "../scss/helpers";

.Home {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000 url("../assets/png/accueil.png") center center no-repeat;
  background-size: contain;

  @include media('exclude-mobile') {
    border-radius: $radius;
  }
}
