@import "../scss/helpers";

.Home {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000 url("../assets/jpg/accueil.jpeg") center center no-repeat;
  background-size: contain;

  @include media('exclude-low-tablet') {
    border-radius: $radius;
  }
}
