@import '../scss/helpers';

.Omg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100vh - 30vh);
    background: url("../assets/jpg/omg.jpeg") center center no-repeat;
    background-size: 100% 100%;
    padding: 15vh 0;

    h1 {
        font-size: 6rem;
    }

    @include media('exclude-low-tablet') {
        border-radius: $radius;
        height: calc(100% - 175px);
        padding: 75px 0 100px;
    }
}
