@import "../scss/helpers";

.Rooms {
  @include defaultBackground;

  > div {
    &:first-child {
      position: relative;
      height: 100%;
    }

    &:last-child {
      position: absolute;
      right: 5%;
      top: 5%;
    }
  }
}


