@import "../scss/helpers";

.Tips {
  @include defaultBackground;

  > div {
    &:first-child {
      position: relative;
      height: 100%;
      padding: 0 2rem;

      > img {
        object-fit: contain;
        height: 100px;
      }

      p {
        font-weight: 700;
        font-size: 16px;
      }
    }

    &:last-child {
      position: absolute;
      right: 5%;
      top: 5%;
    }
  }
}
