@import "../../scss/helpers";

.TheModal {
  @include theModal;

  &Header {
    h1 {
      font-size: 3.5rem;
    }

    button {
      position: absolute;
      right: 5%;
      top: 5%;
      cursor: pointer;
      background: none;
      border: none;
    }
  }

  &Body {
    line-height: 1;
    margin-top: 2rem;
    text-align: center;
  }
}
