.TheHeader {
  display: flex;
  position: relative;
  z-index: 2;

  > div {
    &:last-child {
      display: flex;
      margin: auto 0 auto auto;

      > div {
        margin: auto 0.5rem;
      }
    }
  }
}
