.UserHeader {
  display: flex;
  width: 185px;
  position: relative;
  height: 70px;
  margin-right: 12px;

  .borderAvatar {
    position: absolute;
    height: 100%;
    width: auto;
  }

  .avatar {
    width: 65px;
    height: 69px;
    border-radius: 100%;
    top: 0%;
    left: 0%;
    position: absolute;
    img{
      width: 100%;
    }
  }

  .user {
    position: absolute;
    width: 125px;
    height: 45px;
    top:50%;
    transform: translateY(-50%);
    margin: auto;
    right: 0px;
    border-radius: 5px;

    div:last-child {
      font-size: 12px;
    }
  }
}
