.AnswersGuess {
  display: flex;
  flex-direction: column;
  height: 100%;

  > p {
    padding: 0 2rem;
    font-size: 22px;
    margin: 2.5rem auto 0;
    font-weight: bold;
  }

  > div {

    &:last-child {
      margin: auto;
      width: 100%;

      > button {
        margin: 0.5rem auto;
        width: 80%;
        background: none;
        border: 2px solid;
        border-image: url('../../../assets/svg/button-transparent.svg') 20/20px;
        min-height: 2.5rem;
        padding: 10px 15px;
      }
    }
  }
}
