@import "../../../scss/helpers";

.ButtonAnswersGuess {
  margin: 1.5rem auto;
  width: 85%;
  background: none;
  border: 2px solid;
  border-image: url('../../../assets/svg/button-transparent.svg') 20/20px;
  min-height: 2.5rem;
  padding: 7px 7px;
  position: relative;

  > div {

    &:last-child {
      display: flex;
      position: absolute;
      left: 0;
      right: 0;
      bottom: -2.2rem;
      width: 75%;
      margin: auto;

      > div {
        display: flex;
        flex-direction: column;
        margin: auto;
        padding: 0 0.5rem;

        > img {
          width: 2rem;
          margin: auto;
        }
      }
    }
  }

  &Background {
    padding: 5px;
    font-size: 1rem;
    border-radius: 1rem;

    &Active {
      background: $grey;
    }

    &Good {
      background: $yellow;
    }

    &Bad {
      background: $black;
      color: $white;
    }
  }
}
