@import "../../../scss/helpers";
.TheGuess {
  @include gameOverBackground;

  > p {
    padding: 0 2rem;
    font-size: 22px;
    margin: 1.5rem auto;
  }

  > img {
    width: 75%;
    height: auto;
    align-self: center;
  }
}
