.SliderAvatar {
  display: flex;
  margin-bottom: 10%;

  > * {
    &:first-child {
      margin-left: auto;
    }

    &:last-child {
      margin-right: auto;
    }
  }

  > div {
    margin: auto 1rem;
    width: 75px;
    height: 75px;
  }
}
