@import "scss/helpers";

.App {
  position: relative;
  text-align: center;
  height: 100vh;
  display: flex;

  &Logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 125px;
    display: none;

    @include media('exclude-low-tablet') {
      display: block;
    }
  }

  &Description {
    display: none;
    width: 100%;
    margin: auto;
    padding: 2rem;
    color: white;

    > div {
      margin: auto;
      max-width: 300px;
    }

    @include media('exclude-low-tablet') {
      display: block;
    }
  }

  &Code {
    width: 100%;
    margin: auto;
    display: none;

    img {
      width: 100%;
      max-width: 150px;
      border-radius: 20px;
    }

    @include media('exclude-low-tablet') {
      display: block;
    }
  }

  &Phone {
    width: 100%;
  }

  @include media('exclude-low-tablet') {
    &Phone {
      position: relative;
      margin: auto;
      border-radius: $radius;
      box-shadow: 0 0 0 11px #1f1f1f, 0 0 0 13px #191919, 0 0 0 20px #111;
      background: white;
      @include deviceContainer;
    }
  }
}
