@import "scss/helpers";

.App {
  position: relative;
  text-align: center;
  height: -moz-available;          /* WebKit-based browsers will ignore this. */
  height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
  height: fill-available;


  > div {
    &:first-child {
      > img {
        display: none;
      }
    }
  }

  @include media('exclude-low-tablet') {
    height: 100vh;
    > div {
      &:first-child {
        padding: 3rem 0;
        margin: auto;
        height: calc(100% - 6rem);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 100%;
        gap: 25px 20px;
        grid-template-areas: ". . .";

        > img {
          display: block;
          margin: auto;
          height: 100%;
          object-fit: contain;
          object-position: center;
        }

        @include media('tablet') {
          display: flex;

          > img {
            display: none;
          }
        }
      }
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
    }

    &::before {
      left: 0;
      top: 0;
      background: url("assets/png/logo.png") top left no-repeat;
      background-size: contain;
    }

    &::after {
      right: 0;
      bottom: 0;
      background: url("assets/png/appGob.png") bottom right no-repeat;
      background-size: contain;
    }
  }


  &Phone {
    width: 100%;

    @include media('exclude-low-tablet') {
      position: relative;
      z-index: 1;
      margin: auto;
      border-radius: $radius;
      box-shadow: 0 0 0 11px #1f1f1f, 0 0 0 13px #191919, 0 0 0 20px #111, 0 0 35px 20px $white;
      background: white;
      @include deviceContainer;
    }

    > div > * {
      @include media('landscape') {
        height: 100vw;
      }
    }
  }
}
