@import "helpers";
@import "fonts";
@import "transitions";

html, html body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #212121;

  @include media('mobile') {
    background: $white;
  }
}

* {
  font-family: 'Oswald', sans-serif;
}

button, input {
  outline: none;
}

button, input[type="submit"] {
  cursor: pointer;
  transition: 0.3s transform ease;

  &:not(:disabled) {
    &:focus,&:active {
      transform: scale(0.8);
    }
  }

  &:disabled {
    color: inherit;
  }
}

img {
  width: 100%;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: $white;
}

::-webkit-scrollbar-thumb {
  background: $grey;
}

::-webkit-scrollbar-thumb:hover {
  opacity: 0.9;
}

@include media('landscape') {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}
