@import "helpers";
@import "fonts";
@import "transitions";

html, html body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
}

* {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}

button, input {
  outline: none;
}

button, input[type="submit"] {
  cursor: pointer;

  &:focus,&:active {
    animation: push 0.3s linear 1;
  }
}
.fade-enter-active, .fade-exit-active {
  transition: opacity .5s;
}
.fade-enter, .fade-exit /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
